Source: cherokee
Section: web
Priority: optional
Maintainer: Gunnar Wolf <gwolf@debian.org>
Uploaders: Alvaro Lopez Ortega <alvaro@gnu.org>
Build-Depends: bison, flex, debhelper (>= 4.0.0), autotools-dev, sharutils, libpam0g-dev, quilt, python-support, libssl-dev, libldap-dev, libmysqlclient-dev
Standards-Version: 3.8.0
Homepage: http://cherokee-project.org/
Vcs-Git: git://git.debian.org/git/collab-maint/cherokee.git
Vcs-Browser: http://git.debian.org/git/collab-maint/cherokee.git

Package: cherokee
Architecture: any
Pre-Depends: libcherokee-config0 (= ${binary:Version})
Depends: ${shlibs:Depends}, logrotate, libcherokee-base0 (= ${binary:Version}), libcherokee-server0 (= ${binary:Version}), libcherokee-mod-server-info
Recommends: libcherokee-mod-admin
Suggests: libcherokee-mod-libssl
Provides: httpd, httpd-cgi
Description: extremely fast and flexible web server
 Cherokee is an extremely flexible and fast web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This package contains the server and essential handlers.

Package: libcherokee-base0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Cherokee web server - Base libraries
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This is the runtime library

Package: libcherokee-base0-dev
Section: libdevel
Architecture: any
Depends: libcherokee-base0 (= ${binary:Version})
Description: Cherokee web server - base libraries' development files
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This package contains the development files - headers, .so and .a files.

Package: libcherokee-client0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Cherokee web server - Client libraries
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This is the client runtime library

Package: libcherokee-client0-dev
Section: libdevel
Architecture: any
Depends: libcherokee-client0 (= ${binary:Version}), libcherokee-base0-dev (= ${binary:Version})
Description: Cherokee web server - Client libraries' development files
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This package contains the client development files - headers, .so 
 and .a files.

Package: libcherokee-config0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, python
Replaces: libcherokee-server0 (<< 0.8.1-1)
Description: Cherokee web server - Configuration libraries
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This is the configuration handler's runtime library

Package: libcherokee-config0-dev
Section: libdevel
Architecture: any
Depends: libcherokee-config0 (= ${binary:Version}), libcherokee-base0-dev (= ${binary:Version})
Description: Cherokee web server - Configuration libraries' development files
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This package contains the development files for the configuration
 handler - headers, .so and .a files.

Package: libcherokee-server0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Cherokee web server - Server libraries
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This is the server runtime library

Package: libcherokee-server0-dev
Section: libdevel
Architecture: any
Depends: libcherokee-server0 (= ${binary:Version}), libcherokee-base0-dev (= ${binary:Version})
Description: Cherokee web server - Server librardevelopment files
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This package contains the server development files - headers, .so 
 and .a files.

Package: libcherokee-mod-admin
Section: web
Architecture: any
Depends: ${shlibs:Depends}, libcherokee-server0 (= ${binary:Version})
Description: Cherokee web server - Administrative plugin
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This plugin provides the needed infrastructure to perform
 administrative tasks on the server itself; it also provides the
 cherokee-tweak binary, which can optimally perform log rotations or
 retreive server information from the command line.
 
Package: libcherokee-mod-server-info
Section: web
Architecture: any
Depends: ${shlibs:Depends}, libcherokee-server0 (= ${binary:Version})
Enhances: cherokee
Description: Cherokee web server - Server information plugin
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This plugin provides the server information plugin.
 
Package: libcherokee-mod-mysql
Section: web
Architecture: any
Depends: ${shlibs:Depends}, libcherokee-server0 (= ${binary:Version})
Enhances: cherokee
Description: Cherokee web server - MySQL user validator plugin
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This plugin provides the MySQL user validator.
 
Package: libcherokee-mod-ldap
Section: web
Architecture: any
Depends: ${shlibs:Depends}, libcherokee-server0 (= ${binary:Version})
Enhances: cherokee
Description: Cherokee web server - LDAP user validator plugin
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This plugin provides the LDAP user validator.

Package: libcherokee-mod-libssl
Section: web
Architecture: any
Depends: ${shlibs:Depends}, libcherokee-server0 (= ${binary:Version})
Description: Cherokee web server - SSL crypto functions plugin
 Cherokee is an extremely fast and flexible web server. It's
 embedable, extensible with plug-ins. It has handler-to-path,
 virtual servers, gzip encoding, modular loggers, CGI support,
 and can run in a chroot environment, among other features.
 .
 This plugin provides the SSL crypto functions.
 
Package: cget
Architecture: any
Depends: ${shlibs:Depends}, libcherokee-client0 (= ${binary:Version})
Description: web page downloader
 CGet is a small downloader based in the Cherokee client library
